*{
  margin: 0;
  padding: 0;
}

.menu{

}

.menu li{

}

.menu p{

}

.menu-text{
  display: none;
}


.nav-item{
  margin: 20px;

  border-radius: 2px solid grey ;
}


label{
  padding-right: 40px;
  font-size: 20px;
  position: relative;
}

 #address{
margin-left: 10px;
}

.title{
  display: none;
  width: 400px;
  border: 1px solid black;
  float: right;
  margin-right: 100px;
}

.container {
  margin-top: 20px;
}

.fl{
  float: left;
}

.c2 {
  border: 1px solid gray;
  width: 50%;
  margin: 0 auto;
}

.place{
  margin: 10px 0 30px 20px;
}

.m2{
  border: none;
  margin-top: 20px;
}
